body {
  background-color: rgb(88, 192, 157);
  text-align: center;
}

#home-title {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: xxx-large;
  color: seagreen;
  text-emphasis: bold;
}

img.home {
  cursor: help;
  width: 55%;
}

#keanu {
  width: 500px;
  border-radius: 50%;
}

em {
  font-style: italic;
}
